.start-up__list {
    list-style: none;
    margin-left: 270px;
    width: calc(100% - 300px);
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  .start-up__single{
    list-style: none;
    height: 100%;
    margin-left: 270px;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 900px) {
   .start-ap__list {margin-left: 0;}
   .start-up__single{
    margin-left: 0;
   }
  }